<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>

<head>
<title>Welcome to the Tapeless Production System</title>
<meta HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=iso-8859-1"/>
<link href="/ingex/ingex.css" rel="stylesheet" rev="stylesheet" type="text/css" media="screen"/>
</head>

<body>

<!-- Header -->

<div id="pageHeader">
	<div id="titleText">
		<a href="index.pl">Tapeless Production System</a>
	</div>
</div>

<!-- End Header -->

<!-- Menu -->

<div id="pageBody">

<div id="bodyLeft">

	<h1><a href="index.pl">Home</a></h1>
	
	<h1>Status</h1>
	
	<h1>Manage</h1>
<ul>
	<li><a href="material.pl">Material</a></li>
	<li><a href="avidaaf.pl">Avid AAF</a></li>
</ul>

	<h1>Configuration</h1>
<ul>
	<li><a href="generalcf.pl">General</a></li>
	<li><a href="sourcecf.pl">Source Groups</a></li>
	<li><a href="recorder.pl">Recorder</a></li>
	<li><a href="multicamcf.pl">MultiCam Clips</a></li>
	<li><a href="proxydf.pl">Proxy</a></li>
</ul>
		

</div>

<!-- End Menu -->


<!-- Content -->

<div id="bodyCentre">

{$content}

</div>

<!-- End Content -->


</div>


<!-- Footer -->

<div id="pageFooter">
</div>

<!-- End Footer -->


</body>
</html>

