[Desktop Entry]
Comment=
Comment[en_GB]=
Encoding=UTF-8
Exec=$HOME/http_recorder/run_barcode_scanner.sh
GenericName=Ingex Barcode Scanner
GenericName[en_GB]=Ingex Barcode Scanner
Icon=exec
MimeType=
Name=Barcode Scanner
Name[en_GB]=Barcode Scanner
Path=$HOME/http_recorder/
StartupNotify=true
Terminal=true
TerminalOptions=
Type=Application
X-DCOP-ServiceType=
X-KDE-SubstituteUID=false
X-KDE-Username=
X-SuSE-translate=true
