#pageHeader {
	float: left;
	padding-bottom: 0.5ex;
	padding-left: 0.5em;
	border-bottom: 2px solid black;
	width: 700px;
}

#titleText {
	font-weight:bold;
	font-size: 180%;
}

#titleText a:link {
	text-decoration: none;
	color: #808080;
}
#titleText a:visited {
	text-decoration: none;
	color: #808080;
}
#titleText a:active {
	text-decoration: none;
	color: #808080;
}
#titleText a:hover {
	text-decoration: none;
	color: #808080;
}

#pageBody {
	clear: both;
}

#bodyLeft {
	float: left;
	padding-top: 10px;
	padding-left: 0.5em;
	width: 8.0em;
	text-align: left;
	border-right: 1px solid black;
}

#bodyLeft a:link {
	text-decoration: none;
}
#bodyLeft a:visited {
	text-decoration: none;
}
#bodyLeft a:active {
	text-decoration: none;
}
#bodyLeft a:hover {
	text-decoration: none;
}



#bodyCentre {
	padding-top: 10px;
	margin-left: 8.0em;
	text-align: left;
	padding-left: 1em;
}


#bodyLeft h1 {
	font-weight:bold;
	font-size: 100%;
}


#bodyLeft ul {
	list-style-type: none;
	margin-left: 1em;
	margin-top: 0em;
	padding: 0px;
}

#bodyLeft ul li {
	font-size: 90%;
}


#bodyCentre h1 {
	font-size: 140%;
}

#bodyCentre h2 {
	font-size: 120%;
}


.error {
	color: red;
}

.propHeading1 {
	font-weight:bold;
	color: green;
}

.propHeading2 {
	color: green;
}



#materialTable {
	font-family: sans-serif;
	border-collapse: collapse;
}

#materialTable tr {
	border: 1px solid black;
}

#materialTable td {
	border: 1px solid black;
	font-family: sans-serif;
	font-size: 80%;
}


.noBorderTable {
	border-collapse: collapse;
}

.noBorderTable tr {
	border: none;
}


.borderTable {
	border-collapse: collapse;
}

.borderTable tr {
	border: 1px solid black;
}

.borderTable td {
	border: 1px solid black;
}

.borderTable th {
	border: 1px solid black;
}


table th {
	text-align: left; 
	font-weight: bold; 
	vertical-align: baseline;
	padding: 3px;
}

table td {
	text-align: left; 
	padding: 3px;
}

#resultNav a:link {
	text-decoration: none;
	color: black;
}
#resultNav a:visited {
	text-decoration: none;
	color: black;
}
#resultNav a:active {
	text-decoration: none;
	color: black;
}
#resultNav a:hover {
	text-decoration: none;
	color: grey;
}



